<div class="container">
    <div class="row">
        <div class="col-8 offset-2 border shadow">
            <%= form_with(model: @travel, local: true) do |f| %>
                <div class="form-group">
                    <%= f.label :title, "タイトル" %>
                    <%= f.text_field :title, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.label :travel_image, "画像" %><br>
                    <%= f.file_field :travel_image %>
                </div>
                <div class="form-group">
                    <%= f.label :genre, "ジャンル" %><br>
                    <%= f.label "国内" %>
                    <%= f.radio_button :genre, "国内" %>
                    <%= f.label "海外" %>
                    <%= f.radio_button :genre, "海外" %>
                </div>
                <div class="form-group">
                    <%= f.label :start_date, "旅行開始日" %>
                    <%= f.date_field :start_date %>
                </div>
                <div class="form-group">
                    <%= f.label :end_date, "旅行終了日" %>
                    <%= f.date_field :end_date %>
                </div>
                <%= f.submit "Travel更新", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>