<div class="travel-index-top card">
    <img class="card-img" src="/assets/travel_index_top">
    <div class="card-img-overlay text-center mt-4">
        <h2 class="mb-3">Travelを発見！</h2>
        <%= form_with url: travels_path, method: :get, local: true do %>
            <div class="search-form mt-3 pt-2 pb-2 text-center">
                <span class="mr-lg-4">
                    <%= label_tag "国内" %>
                    <%= radio_button_tag :search, "国内" %>
                </span>
                <span>
                    <%= label_tag "海外" %>
                    <%= radio_button_tag :search, "海外" %>
                </span><br>
                <%= submit_tag "検索" %>
            </div>
        <% end %>
        <div class="mt-4">
            <%= link_to "トラベラーを見つけよう！", users_path, class: "btn btn-primary rounded-pill mb-3" %><br>
            <%= link_to "Travelを作成する", new_travel_path, class: "btn btn-success rounded-pill" %>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <% @travels.each do |travel| %>
            <div class="col-lg-4 text-center mb-5" id="travel-index-content">
                <%= render 'layouts/travel_index', travel: travel %>
            </div>
        <% end %>
    </div>
</div>