<div class="container">
    <ul class="row list-unstyled">
        <div class="col-8 offset-2">
        <h1 class="text-center">Travel一覧</h1>
            <% @travels.each do |travel| %>
                <li class="media">
                    <div class="media-body mt-4" id="travel-index-body">
                        <div class="row border shadow">
                            <div class="col-6 text-center">
                                <h3 class="border-bottom mt-3 mb-3 pb-2"><%= travel.title %></h3>
                                <h4>During</h4>
                                <p class=" border-bottom pb-2 mb-3"><%= travel.start_date %> ~ <%=travel.end_date%><p>
                                <h4>Genre</h4>
                                <p class="border-bottom pb-2"><%= travel.genre %></p>
                                <%= link_to "Show", travel, class: "btn btn-primary rounded-pill" %>
                            </div>
                            <div class="col-6" id="travel_index_img">
                                <%= image_tag "#{travel.travel_image}", class: "p-2 " %>
                            </div>
                        </div>
                    </div>
                </li>
            <% end %>
        </div>
    </ul>
</div>