<div class="travel-show-top card">
    <% if @travel.travel_image? %>
        <%= image_tag "#{@travel.travel_image}", class: "card-img img-fluid", style: "object-fit: cover;" %>
    <% else %>
        <img src="/assets/background_default" class="card-img">
    <% end %>
    <div class="card-img-overlay text-center">
        <div class="card-body mt-3">
            <h2><%= @travel.title %></h2>
            <p class="mt-3"><%= @travel.start_date.strftime("%Y年%m月%d日") %> ~ <%= @travel.end_date.strftime("%Y年%m月%d日") %></p>
            <p><%= @travel.genre %></p>
            <p class="border-bottom pb-3">By <%= link_to "#{@user.name}", user_path(@user) %></p>
            <% if current_user == @user %> 
                <%= link_to "編集", edit_travel_path(@travel), class: "btn btn-light border rounded-pill mr-3 mt-3" %>
                <%= link_to "削除", travel_path(@travel), method: :delete, class: "btn btn-danger rounded-pill ml-3 mt-3" %><br>
            <% else %>
                <div class="mt-4">
                    <%= render 'favorites/favorite_button', travel: @travel %>
                </div>
            <% end %>
            <div class="mt-4">
                <i class="fas fa-thumbs-up mr-2"></i><%= Favorite.where(travel_id: @travel.id).count %>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <%= link_to "Eventを作成", new_travel_event_path(@travel), class: "btn btn-success rounded-pill" if (current_user == @travel.user) && @travel.events.present? %> 
</div>
                
<div class="container">
    <div class="row">
        <% if @events.present? %>
            <% @events.each do |event| %>
                <div class="col-lg-4 mt-4" id="travel-show-event">
                    <div class="card shadow">
                        <% if event.event_pictures.present? %>
                            <%= image_tag "#{event.event_pictures.first.picture}", class: "card-img-top" %>
                        <% else %>
                            <img src="/assets/background_default" class="card-img-top">
                        <% end %>
                        <div class="card-body text-center">
                            <small class="border-bottom"><%= event.event_date.year %>年<%= event.event_date.month %>月<%= event.event_date.day %>日</small>
                            <h5 class="border-bottom mt-2 pb-2"><%= event.title %></h5>
                            <p>住所</p>
                            <p class="border-bottom pb-2"><%= event.address %></p>
                            <div><%= link_to "このEventを見る", travel_event_path(@travel,event), class: "btn btn-primary" %></div>
                            <div class="btn-group mt-3 mb-3">
                                <% if current_user == @user %>
                                    <%= link_to "編集", edit_travel_event_path(@travel,event), class: "btn btn-light border" %>
                                    <%= link_to "削除", travel_event_path(@travel,event), method: :delete, class: "btn btn-danger ml-2" %>
                                <% end %>
                            </div>
                            <%= render 'likes/like_button', event: event %>
                            <i class="fas fa-thumbs-up"></i><%= Like.where(event_id: event.id).count %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <div class="col-sm-8 offset-sm-2 mt-5 text-center">
                <% if current_user == @user %>
                    <h2 class="pb-2 border-bottom">Eventを追加しよう！</h2>
                    <p class="mt-4">旅行で訪れた場所、起きた出来事などをTravelに記録しよう！</p>
                    <p>Eventを作成してあなたのTravelを充実させましょう！</p>
                    <%= link_to "Eventを作る！", new_travel_event_path(@travel), class: "btn btn-success rounded-pill m-4 border-bottom" %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
