<div class="container">
  <ul class="list-unstyled row">
      <% @users.each do |user| %>
        <li class="media col-10 offset-1">
          <div class="media-body border shadow mt-5 p-3 row" id="user-index">
            <div class="col-2">
              <%= render 'users/user_image', user: user %>
              <div class="mt-2" style="font-family: cursive;">
                <%= user.name %><br>
                <%= link_to "Detail", user_path(user) %>
              </div>
            </div>
            <div class="col-2 text-center mt-3" style="font-family: cursive;">
              <p>Age: <%= user.age %></p>
              <p>Gender: <%= user.gender %></p>
            </div>
            <div class="col-7 text-center">
              <%= user.about.truncate(170) if user.about %>
            </div>
            <div class="col-1 d-flex align-items-center">
              <% unless current_user == user %>
                <% if current_user.following?(user) %>
                  <%= form_with(model: current_user.relationships.find_by(follow_id: user.id), lacal: true, method: :delete) do |f| %>
                    <%= hidden_field_tag :follow_id, user.id %>
                    <%= f.submit "Unfollow", class: "btn btn-danger" %>
                  <% end %>
                  <% else %>
                    <%= form_with(model: current_user.relationships.build, local: true) do |f| %>
                      <%= hidden_field_tag :follow_id, user.id %>
                      <%= f.submit "Follow", class: "btn btn-primary" %>
                    <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <%= paginate @users %>
</div>