<div class="container">
  <ul class="list-unstyled row">
      <% @users.each do |user| %>
        <li class="media col-10 offset-1">
          <div class="media-body border shadow mt-5 p-3 row" id="user-index">
            <%= link_to user_path(user) do %>
              <div class="col-2">
                <% if user.image? %>
                    <img src="<%= user.image %>">
                <% else %>
                    <img src="/assets/default.png">
                <% end %>
                <div class="mt-2" style="font-family: cursive;">
                  <%= user.name %>
                </div>
              </div>
            <% end %>
            <div class="col-2 text-center mt-3" style="font-family: cursive;">
              <p><%= user.birthday %></p>
              <p><%= user.gender %></p>
            </div>
            <div class="col-7 text-center">
              <%= user.about %>
            </div>
            <button type="button" class="col-1 btn btn-primary">Follow</button>
          </div>
        </li>
      <% end %>
    </ul>
    <%= paginate @users %>
</div>