<div class="container">
  <ul class="list-unstyled row">
      <% @users.each do |user| %>
        <li class="media col-10 offset-1">
          <div class="media-body border shadow mt-5 p-3 row" id="user-index">
            <%= link_to user_path(user) do %>
              <div class="col-2">
                <% if user.image? %>
                    <img src="<%= user.image %>">
                <% else %>
                    <img src="/assets/default.png">
                <% end %>
                <div class="mt-2" style="font-family: cursive;">
                  <%= user.name %>
                </div>
              </div>
            <% end %>
            <div class="col-2 text-center mt-3" style="font-family: cursive;">
              <p><%= user.age %></p>
              <p><%= user.gender %></p>
            </div>
            <div class="col-7 text-center">
              <%= user.about %>
            </div>
            <div class="col-1 d-flex align-items-center">
              <% unless current_user == user %>
                <% if current_user.following?(user) %>
                  <%= form_with(model: current_user.relationships.find_by(follow_id: user.id), lacal: true, method: :delete) do |f| %>
                    <%= hidden_field_tag :follow_id, user.id %>
                    <%= f.submit "Unfollow", class: "btn btn-danger" %>
                  <% end %>
                  <% else %>
                    <%= form_with(model: current_user.relationships.build, local: true) do |f| %>
                      <%= hidden_field_tag :follow_id, user.id %>
                      <%= f.submit "Follow", class: "btn btn-primary" %>
                    <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <%= paginate @users %>
</div>