<div class="container">
    <div class="row">
        <div class="col-6 offset-3 mt-5 p-5 shadow border">
            <h1 class="text-center mb-5">Signup</h1>
            <div class="justify-content-center">
                <%= form_with(model: @user, local: true) do |f| %>
                    <%= render "layouts/error_messages", model: f.object %>
                    <div class="form-group mt-4">
                        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
                    </div>
                    
                    <div class="form-group mt-4">
                        <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
                    </div>
                    
                    <div class="form-group mt-4">
                    <%= f.label :gender, "性別" %><br>
                    <%= f.label "Male" %>
                    <%= f.radio_button :gender, "Male" %>
                    <%= f.label "Female" %>
                    <%= f.radio_button :gender, "Female" %>
                    <%= f.label "Other" %>
                    <%= f.radio_button :gender, "Other" %>
                </div>
                    
                    <div class="form-group mt-4">
                        <%= f.label :birthday, "誕生日" %><br>
                        <%= f.date_select :birthday, start_year: 1940, end_year: Time.now.year, class: "form-control" %>
                    </div>
                    
                    <div class="form-group mt-4">
                        <%= f.password_field :password, class: "form-control", placeholder: "パスワード入力" %>
                    </div>
                    
                    <div class="form-group mt-4">
                        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "パスワード確認" %>
                    </div>
                    
                    <%= f.submit "Singnup", class: "btn btn-primary btn-block mt-4" %>
                <% end %>
            </div>
        </div>
    </div>
</div>