<div class="container">
  <div class="row mt-5" id="event-show-top">
    <div class="offset-2 col-3 mb-5" id="event-show-user">
      
    </div>
    <div class="col-5 offseet-2 text-center">
        <h2><%= @event.title %></h2>
        <h4><%= @event.event_date %></h4>
    </div>
  </div>
</div>
<div id="carousel-1" class="carousel slide col-8 offset-2">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <% @event_picture.first(1).each do |pic| %>
          <%= image_tag "#{pic.picture}", class: "img-fluid" %>
        <% end %>
      </div>
      <% @event_picture.drop(1).each do |pic| %>
        <div class="carousel-item">
          <%= image_tag "#{pic.picture}", class: "img-fluid" %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
<div class="row">
    <div class="col-8 offset-2" id="event-comment">
      <p class="text-center"><%= @event.comment %></p>
    </div>
</div>
<div class="row">
  <div class="col-8 offset-2" id="map"></div>
</div>
<div class="row">
  <div class="col-8 offset-2 text-center mt-4 mb-4">
    <%= link_to "投稿削除", travel_event_path([@travel,@event]), method: :delete, class: "btn btn-danger rounded-pill mr-1" %>
    <%= link_to "投稿編集", edit_travel_event_path([@travel,@event]), class: "btn btn-primary rounded-pill ml-1" %>
  </div>
</div>

<script>
  function initMap() {
    var location = { lat: <%= @event.latitude %> , lng: <%= @event.longitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: location
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    
    var contentString = '<%= @event.address %>';
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });
    
    var marker = new google.maps.Marker({
        position: location,
        map: map,
        title: contentString
    });
    
    marker.addListener('click',function() {
        infowindow.open(map,marker);
    });
  }
</script>

