<header>
    <nav class="navbar navbar-light navbar-expand-sm">
        <a href="/" class="navbar-brand" style="font-family: cursive;">TraVLog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbar-menu">
            <ul class="navbar-nav">
                <% if logged_in? %>
                    <li><%= link_to "新規投稿", new_travel_path, class: "nav-link" %></li>
                    <li><%= link_to "投稿一覧", travels_path, class: "nav-link" %></li>
                    <li><%= link_to "ユーザー一覧", users_path, class: "nav-link" %></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><%= current_user.name %></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item"><%= link_to "マイページ", user_path(current_user) %></li>
                            <li class="dropdown-item"><%= link_to "編集", edit_user_path(current_user) %></li>
                            <li class="dropdown-item"><%= link_to "ログアウト", logout_path, method: :delete %></li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><%= link_to "アカウント削除", user_path(current_user), method: :delete, data: { confirm: "本当に削除しますか？" } %></li>
                        </ul>
                    </li>
                <% else %>
                    <li class="nav-item"><%= link_to "Signup", signup_path, class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to "Login", login_path, class: "nav-link" %></li>
                <% end %>
            </ul>
        </div>
    </nav>
</header>